.header {
  display: flex;
  align-items: center;
  background: var(--background-color);
  width: 100%;
  padding: 8px 40px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--highlightColor);
  }
  @media (max-width: 767px) {
    display: grid;
    grid-template-areas: 'logo nav' 'games games';
    padding: 8px 15px 8px;
  }
  @media (min-width: 1092px) {
    padding: 8px calc(calc(100% - 1012px) / 2) 8px;
  }
}

.header--simple {
  background: none;
  box-shadow: none;
}

.header__main-nav {
  grid-area: nav;
  justify-self: end;
}

.header__game-nav {
  grid-area: games;
  margin-left: 30px;
  margin-right: auto;
  & > *:not(:last-child) {
    margin-right: 7px;
  }
  @media (max-width: 767px) {
    padding: 10px 0;
    margin-left: 0;
    .nav-link {
      margin-right: 20px;
    }
  }
}

.header-logo {
  grid-area: logo;
  font-weight: 600;
  font-size: 1.5em;
  a {
    color: var(--bodyColor);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.logo {
  --logo-color: var(--bodyColor);
  width: 60px;
  margin-right: 10px;
}
.logo__fill {
  fill: var(--logo-color);
}
.logo__stroke {
  stroke: var(--logo-color);
}

.dropdown--user {
  min-width: 220px !important;
  top: 70px !important;

  [data-reach-menu-item] {
    padding: 7px 25px;
    &.separator {
      margin-bottom: 21px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -11px;
        height: 1px;
        background: gainsboro;
        .dark-theme & {
          background: #5a5a5a;
        }
      }
    }
  }

  [data-reach-menu-items] > :first-child {
    padding-top: 18px;
  }

  [data-reach-menu-items],
  [data-reach-menu-list] {
    font-size: 1em;
    margin-top: 0.5rem;
    padding: 8px 0;
    /* Theme */
    animation: slide-down 0.2s ease;
    background: var(--background-color);
    border-top: 1px solid gainsboro;
    .dark-theme & {
      border-color: #5a5a5a;
    }
    &:before {
      content: '';
      display: block;
      margin-top: -23px;
      margin-left: auto;
      margin-right: 18px;
      background: var(--background-color);
      width: 14px;
      height: 14px;
      transform: rotate(45deg) translate(6px, 6px);
      box-shadow: -1px -1px 0 0 gainsboro;
      .dark-theme & {
        box-shadow: -1px -1px 0 0 #5a5a5a;
      }
    }
  }
  @media (max-width: 499px) {
    width: 100%;
    left: 0 !important;
    right: 0 !important;

    [data-reach-menu-items] {
      padding: 8px 0;
      min-height: calc(100vh - 70px);
      &:before {
        margin-right: 26px;
      }
    }
  }
  @media (min-width: 500px) {
    [data-reach-menu-items] {
      border: 1px solid gainsboro;
      border-radius: 5px;
      box-shadow: 0 3.4px 4.4px rgba(0, 0, 0, 0.06),
        0 13.7px 16.9px rgba(0, 0, 0, 0.097), 0 48px 52px rgba(0, 0, 0, 0.18);
    }
  }
}

[data-reach-menu],
[data-reach-menu-popover] {
  display: block;
  position: absolute;
}

[data-reach-menu][hidden],
[data-reach-menu-popover][hidden] {
  display: none;
}

[data-reach-menu-items],
[data-reach-menu-list] {
  display: block;
  white-space: nowrap;
  background: var(--background-color);
  animation: slide-down 0.2s ease;
  border: 1px solid var(--borderColor);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  outline: 0;
  font-size: 85%;
  .dark-theme & {
    border-color: #5a5a5a;
  }
  padding: 0.5rem;
}

[data-reach-menu-item] {
  display: block;
  cursor: pointer;
  outline: 0;
  padding: 5px 10px;
  color: inherit;
  font: inherit;
  text-decoration: initial;
}

[data-reach-menu-item][data-selected] {
  background: var(--input-background);
  color: var(--highlightColor);
  outline: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown__footer {
  background: var(--body-background);
  border-top: 1px solid var(--borderColor);
  text-align: center;
  &:focus {
    outline: 0;
  }
  &:hover {
    color: var(--highlightColor);
  }
}

[data-reach-tooltip] {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.1);
  white-space: nowrap;
  font-size: 85%;
  background: #f0f0f0;
  color: #444;
  border: solid 1px #ccc;
}
