.board-header {
  display: flex;
  grid-template-areas: 'icon text button button dropdown' 'nav nav nav nav nav';
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  margin: 0 0 1em;
  .nav {
    grid-area: nav;
  }

  .board-header__overflow-menu {
    grid-area: dropdown;
  }

  .board-header__button {
    grid-area: button;
  }
}

.board-header__icon {
  grid-area: icon;
  width: 58px;
  margin-top: 3px;
  @media (max-width: 479px) {
    align-self: flex-start;
  }
}

.board-header__title {
  grid-area: text;
  h1 {
    margin: 0 0 3px;
    font-size: 19px;
    line-height: 1.2;
  }
  h3 {
    font-size: 15px;
    margin: 3px 0 0;
    color: var(--mediumBodyColor);
  }
  @media (min-width: 480px) {
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 19px;
    }
  }
}

.board-header__links {
  margin-left: auto;
  display: flex;
  align-items: center;

  & > .button,
  button,
  a {
    margin-left: 0.75em;
  }
}

.mode-description {
  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 0em;
  }
}
